* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    /*display: flex;*/
    /*justify-content: center;*/
    /*min-height: 100vh;*/
}

.App {
    overflow: hidden;
    padding: 20px calc(50vw - 400px);
    min-height: 100vh;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    border: 2px solid teal;
}

.post-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 50ms, transform 300ms;
}
.post-exit {
    opacity: 1;
    transform: translateX(0);
}
.post-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
}