.myModal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.myModal.active {
  display: flex;
}

.myModalContent {
  min-width: 250px;
  padding: 25px;
  background-color: #fff;
  border-radius: 16px;
}